img {
  clip-path: "rectangle";
  width: 1500px;
  height: 450px;
}

video {
  clip-path: rectangle;
}

body {
  background-color: rgb(255, 255, 255);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.jumbotron {
  color: rgb(165, 176, 15);
}

.nav {
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

#gambartengah {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logobrand {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbarpage {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
